faq-item {
    display: block;
    margin-bottom: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
 }
  
 .faq-info {
    padding: 24px;
 }
  
 .faq-info > h2 {
    font-weight: lighter;
 }
  
 .faq-info > p {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10; /* number of lines to show */
 }